tec_heuristica_pj1/CMakeCache.txt
tec_heuristica_pj1/CMakeFiles/
tec_heuristica_pj1/bin/
tec_heuristica_pj1/build/
tec_heuristica_pj1/cmake-build-debug/
tec_heuristica_pj1/cmake_install.cmake
.idea/
.DS_Store
